In [1]:
from assets.database import db_session
from assets.database import init_db
from assets.models import Data

import datetime

In [2]:
init_db()

2019-04-19 16:52:03,821 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-04-19 16:52:03,824 INFO sqlalchemy.engine.base.Engine ()
2019-04-19 16:52:03,827 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-04-19 16:52:03,829 INFO sqlalchemy.engine.base.Engine ()
2019-04-19 16:52:03,831 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("data")
2019-04-19 16:52:03,832 INFO sqlalchemy.engine.base.Engine ()
2019-04-19 16:52:03,836 INFO sqlalchemy.engine.base.Engine
CREATE TABLE data (
	id INTEGER NOT NULL,
	date DATE,
	subscribers INTEGER,
	reviews INTEGER,
	timestamp DATETIME,
	PRIMARY KEY (id)
)


2019-04-19 16:52:03,837 INFO sqlalchemy.engine.base.Engine ()
2019-04-19 16:52:03,841 INFO sqlalchemy.engine.base.Engine COMMIT

## Create

In [3]:
date = datetime.date.today()
date

datetime.date(2019, 4, 19)

In [4]:
row = Data(date=date, subscribers=3500, reviews=200)

In [5]:
row

In [6]:
row.date

datetime.date(2019, 4, 19)

In [7]:
row.subscribers

3500

In [8]:
db_session.add(row)

In [9]:
db_session.commit()

2019-04-19 16:55:51,874 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-19 16:55:51,876 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-04-19 16:55:51,877 INFO sqlalchemy.engine.base.Engine ('2019-04-19', 3500, 200, '2019-04-19 16:51:35.994533')
2019-04-19 16:55:51,881 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
row1 = Data(date=date, subscribers=6500, reviews=210)
row2 = Data(date=date, subscribers=1500, reviews=220)

In [12]:
db_session.add(row1)
db_session.add(row2)

In [13]:
db_session.commit()

2019-04-19 16:57:24,554 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-19 16:57:24,557 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-04-19 16:57:24,558 INFO sqlalchemy.engine.base.Engine ('2019-04-19', 6500, 210, '2019-04-19 16:51:35.994533')
2019-04-19 16:57:24,560 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-04-19 16:57:24,561 INFO sqlalchemy.engine.base.Engine ('2019-04-19', 1500, 220, '2019-04-19 16:51:35.994533')
2019-04-19 16:57:24,563 INFO sqlalchemy.engine.base.Engine COMMIT

### Read

In [15]:
db_session.query(Data).all()

2019-04-19 16:58:29,688 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-19 16:58:29,691 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2019-04-19 16:58:29,692 INFO sqlalchemy.engine.base.Engine ()

[<assets.models.Data at 0x10fe22518>,
 <assets.models.Data at 0x10fe792b0>,
 <assets.models.Data at 0x10fe79390>]

In [20]:
db_session.query(Data).all()[0].subscribers

2019-04-19 16:59:48,158 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2019-04-19 16:59:48,159 INFO sqlalchemy.engine.base.Engine ()

3500

In [22]:
db_session.query(Data).all()[-1]

2019-04-19 17:00:02,706 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2019-04-19 17:00:02,708 INFO sqlalchemy.engine.base.Engine ()

### Update

In [24]:
datum = db_session.query(Data).all()[0]
datum

2019-04-19 17:02:39,948 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2019-04-19 17:02:39,949 INFO sqlalchemy.engine.base.Engine ()

In [26]:
datum.subscribers = 10000

In [27]:
db_session.add(datum)
db_session.commit()

2019-04-19 17:03:13,066 INFO sqlalchemy.engine.base.Engine UPDATE data SET subscribers=? WHERE data.id = ?
2019-04-19 17:03:13,068 INFO sqlalchemy.engine.base.Engine (10000, 1)
2019-04-19 17:03:13,073 INFO sqlalchemy.engine.base.Engine COMMIT

In [29]:
db_session.query(Data).all()[0].subscribers

2019-04-19 17:03:39,437 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2019-04-19 17:03:39,438 INFO sqlalchemy.engine.base.Engine ()

10000

### Delete

In [32]:
datum = db_session.query(Data).filter_by(subscribers=10000).one()

2019-04-19 17:04:54,132 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
WHERE data.subscribers = ?
2019-04-19 17:04:54,134 INFO sqlalchemy.engine.base.Engine (10000,)

In [35]:
db_session.delete(datum)
db_session.commit()

2019-04-19 17:05:28,260 INFO sqlalchemy.engine.base.Engine DELETE FROM data WHERE data.id = ?
2019-04-19 17:05:28,263 INFO sqlalchemy.engine.base.Engine (1,)
2019-04-19 17:05:28,266 INFO sqlalchemy.engine.base.Engine COMMIT

In [37]:
len(db_session.query(Data).all())

2019-04-19 17:05:52,613 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2019-04-19 17:05:52,614 INFO sqlalchemy.engine.base.Engine ()

2

In [38]:
Data.query.delete()

2019-04-19 17:06:16,077 INFO sqlalchemy.engine.base.Engine DELETE FROM data
2019-04-19 17:06:16,078 INFO sqlalchemy.engine.base.Engine ()

2