In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('assets/data.csv')

In [3]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [6]:
type(df['date'][0])

str

In [7]:
df['date'][0]

'2019/1/17'

In [8]:
import datetime

In [13]:
datetime.datetime.strptime(df['date'][0], '%Y/%m/%d').date()

datetime.date(2019, 1, 17)

In [15]:
dates = []
for _date in df['date']:
    date = datetime.datetime.strptime(_date, '%Y/%m/%d').date()
    dates.append(date)

In [17]:
# dates

In [20]:
# 受講生の数
n_subscribers = df['subscribers'].values
n_subscribers

array([2671, 2671, 2674, 2685, 2695, 2701, 2710, 2718, 2722, 2725, 2734,
       2753, 2773, 2785, 2803, 2845, 2847, 2847, 2851, 2852, 2857, 2861,
       2865, 2870, 2875, 2892, 2906, 2919, 2942, 2974, 2977, 2978, 2981,
       2983, 2984, 2987, 2989, 2993, 2995, 3009, 3014, 3023, 3031, 3052,
       3060, 3062, 3063, 3066, 3071, 3074, 3076, 3077, 3080, 3087, 3089,
       3093, 3098, 3104, 3112, 3120, 3131, 3142, 3162, 3173, 3180, 3187,
       3189, 3196, 3212, 3220, 3226, 3241, 3253, 3255, 3258, 3262, 3264,
       3272, 3275, 3276, 3279, 3285, 3300, 3306, 3312, 3319, 3324, 3328])

In [23]:
# レビューの数
n_reviews = df['reviews'].values
n_reviews

array([194, 195, 197, 199, 199, 200, 200, 201, 201, 201, 202, 204, 206,
       208, 210, 211, 213, 213, 217, 218, 219, 220, 222, 224, 224, 227,
       229, 229, 231, 232, 234, 234, 234, 234, 237, 239, 239, 241, 241,
       241, 243, 243, 243, 244, 245, 246, 249, 252, 254, 255, 256, 258,
       258, 261, 261, 262, 262, 262, 262, 262, 265, 266, 266, 268, 269,
       271, 271, 274, 274, 274, 275, 275, 278, 278, 280, 282, 282, 282,
       284, 287, 289, 289, 291, 293, 295, 295, 295, 298])

In [25]:
diff_subscirbers = df['subscribers'].diff().values
diff_subscirbers

array([nan,  0.,  3., 11., 10.,  6.,  9.,  8.,  4.,  3.,  9., 19., 20.,
       12., 18., 42.,  2.,  0.,  4.,  1.,  5.,  4.,  4.,  5.,  5., 17.,
       14., 13., 23., 32.,  3.,  1.,  3.,  2.,  1.,  3.,  2.,  4.,  2.,
       14.,  5.,  9.,  8., 21.,  8.,  2.,  1.,  3.,  5.,  3.,  2.,  1.,
        3.,  7.,  2.,  4.,  5.,  6.,  8.,  8., 11., 11., 20., 11.,  7.,
        7.,  2.,  7., 16.,  8.,  6., 15., 12.,  2.,  3.,  4.,  2.,  8.,
        3.,  1.,  3.,  6., 15.,  6.,  6.,  7.,  5.,  4.])

In [26]:
diff_reviews = df['reviews'].diff().values
diff_reviews

array([nan,  1.,  2.,  2.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  2.,  2.,
        2.,  2.,  1.,  2.,  0.,  4.,  1.,  1.,  1.,  2.,  2.,  0.,  3.,
        2.,  0.,  2.,  1.,  2.,  0.,  0.,  0.,  3.,  2.,  0.,  2.,  0.,
        0.,  2.,  0.,  0.,  1.,  1.,  1.,  3.,  3.,  2.,  1.,  1.,  2.,
        0.,  3.,  0.,  1.,  0.,  0.,  0.,  0.,  3.,  1.,  0.,  2.,  1.,
        2.,  0.,  3.,  0.,  0.,  1.,  0.,  3.,  0.,  2.,  2.,  0.,  0.,
        2.,  3.,  2.,  0.,  2.,  2.,  2.,  0.,  0.,  3.])

In [ ]:
df = pd.read_csv('assets/data.csv')

dates = []
for _date in df['date']:
    date = datetime.datetime.strptime(_date, '%Y/%m/%d').date()
    dates.append(date)
    
n_subscribers = df['subscribers'].values
n_reviews = df['reviews'].values

diff_subscirbers = df['subscribers'].diff().values
diff_reviews = df['reviews'].diff().values